.hr {
    width: 100%;
    border: none;
    background-color: var(--light);
    height: 0.2rem;
}

.hr--light {
    background-color: white;
}
.hr--primary {
    background-color: var(--primary-dark);
}

.title {
    
    color: var(--primary-light);
    font-size: 1.2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.project .box:first-of-type {
    margin-bottom: 15%;
}

.project .box__text {
    align-self: center;
}

.box {
    /* outline: 4px solid red; */
    display: grid;    
    padding-top: 0;
    margin-bottom: 8%;
    grid-gap: 30px;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    grid-auto-flow: dense;
    /* grid-auto-rows: 1fr; */
}

.box .img-fluid {
    margin-top: 30px;
}

.box--block {
    display: block;    
}

.box--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box li {
    padding: 5px;
}

.box__img {
    position: relative;
    /* outline: 3px solid green;    */
    display: flex;
    text-align: center; 
    align-content: center;
}

/* -----------
BLOG BOX
----------- */
.blog {
    padding-top: 3em;
}

.blog .box {
    background: white;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    margin: 4em 1em;
}


@media (max-width:768px) {    
    .box {
        grid-template-columns: repeat( auto-fill, minmax(97%, 1fr) );
    }
}

@media (max-width:360px) {
    .title {
        font-size: 1rem;
    }
}