.footer {
    /* outline: 4px sandybrown; */    
    background: var(--primary-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    align-content: center;    
}

.footer__item, .footer a {
    color: #bdbfc1;
    transition: all 150ms linear;
}

.footer__item p {
    margin: 5px 0;
    color: #bdbfc1;
}

.footer__item-link:hover {
    color: white;
}

.footer__item {
    /* outline: 4px solid green;   */
    display: flex;
    flex-direction: column;  
    padding: 10px;
}

.footer .lead {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;    
}

.footer .btn, 
.footer a {
    margin: 5px 0;
    
}

.footer .btn {
    font-size: 1em;
}

@media (max-width:768px) {

    .footer{
        display: block;
    }

} 
