.header {
    font-size: 2.3rem;
    /* text-transform: uppercase; */

    /* color: var(--primary);
    background: var(--light); */

    /* color: var(--primary-light);
    background: var(--light); */
    
    color: var(--light);
    background: var(--primary-light);

    /* background: var(--comp);
    color: var(--primary); */

    /* background: var(--light);
    color: var(--dark); */

    /* color: var(--primary-light); */

    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */

}

.header--hide {
  display: none;
}

@media(max-width:1200px) {
  .header {
    font-size: 3vw;
  }
}