.header {
    font-size: 2.3rem;
    /* text-transform: uppercase; */

    /* color: var(--primary);
    background: var(--light); */

    /* color: var(--primary-light);
    background: var(--light); */
    
    color: var(--light);
    background: var(--primary-light);

    background: var(--primary-light);    
    background: -webkit-linear-gradient(-45deg, var(--primary-dark), var(--primary-light));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, var(--primary-dark), var(--primary-light)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: var(--comp);
    color: var(--primary); */

    /* background: var(--light);
    color: var(--dark); */

    /* color: var(--primary-light); */

    min-height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */

}

.header h1 {
  padding-top: 30px;
}

.header--hide {
  display: none;
}

@media(max-width:1200px) {
  .header {
    font-size: 5vw;
  }
}