.info {
    min-height: 35vh;
    /* padding: 2vh 0; */
    display: flex;
    justify-content: space-around;
    font-family: "Raleway",sans-serif;
    text-align: center;

    /* background: #121213;
    color: var(--light); */

    /* background: var(--light); */
}

.info__content h2 {
    /* outline: 3px solid red; */
    /* max-width: min-content; */
    /* white-space: nowrap; */
    /* margin: 0 auto; */
    /* margin: 0; */
    color: var(--primary-light);
    color: var(--dark);
    font-size: 1.8rem;
    margin-top: 0;
    
}

.info span {
    color: var(--comp);
    color: var(--dark);
    color: var(--primary-light);
    font-size: 5rem;
}

.info .hr {
    background: var(--comp);
    width: 40%;
    margin: 0 15px;
}


.info__content {
    max-width: 400px;
    margin: 0 30px;
    margin-bottom: 20px;
}

.info__link {
    /* border: 1px solid var(--comp);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
    font-size: 1.2rem;
    /* color: rgb(34, 99, 240); */
}

@media(max-width:768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .info__content {
        margin-bottom: 3rem;
    }
}