.info {    
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    font-family: "Raleway",sans-serif;
    text-align: center;
}

.info svg {
    height: 90px;
    width: 90px;
    fill: var(--primary-light)
}

.info__content h2 {
    color: var(--primary-light);
    color: var(--dark);
    font-size: 1.8rem;
    margin-top: 0;
    
}

.info span {
    color: var(--comp);
    color: var(--dark);
    color: var(--primary-light);
    font-size: 5rem;
}

.info .hr {
    background: var(--comp);
    width: 40%;
    margin: 0 15px;
}


.info__content {
    max-width: 400px;
    margin: 0 30px;
    margin-bottom: 20px;
}

.info__link {
    font-size: 1.2rem;
}

@media(max-width:768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .info__content {
        margin-bottom: 3rem;
    }
}