.landing__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vh; 
      
    /* background: var(--primary-light); */
}

.overlay{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 8rem;
    color: #e4e7eb;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

#myCanvas{
    height: 65vh;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0px;
    overflow: hidden;
    right: 0px;
    z-index: -1;
    background: var(--primary-light);    
    background: -webkit-linear-gradient(-45deg, var(--primary-dark), var(--primary-light));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, var(--primary-dark), var(--primary-light)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* transform: rotateX(10deg); */
}


@media (max-width:1200px) {
    .overlay {
        font-size: 12vw;
    }
}
