.login--container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    /* outline: 4px solid black; */
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: min-content;
    justify-items: center;
    align-items: center;
    background: linear-gradient(45deg, var(--primary-light),  var(--primary-dark));
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    color: var(--comp);

}

.login > div {
    margin: 0.5em;
}

.login__text {
    font-size: 2rem;
}

.login__text h1 {
    margin: 0;
    font-weight: 100;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__input {
    margin: 0.5em 0;
    font-size: 1.2rem;
    color: #f8f8f8;
}

.login__input > input {
    padding: 0.2em;  
    margin-left: 1em;  
}
