:root {
    /* --shadow: rgba(0,0,0,0.3);
    --primary-dark: #290238e6;
    --primary: #421155;
    --primary-light: #421155d0;
    --light: #f1f1f1;
    --dark: #424040;
    --comp: #FFDF77; */

    --primary-dark: #1a075ee6;
    --primary-dark-bg: hsl(253, 100%, 23%);
    --primary: #3f19c7f1;
    --primary-bg: hsl(253, 100%, 26%);
    --primary-light: #3e1fadf1;
    --primary-light-bg: hsl(253, 100%, 46%);
    --light: #f1f1f1;
    --dark: #424040;
    --med: #575252;
    --comp: #FFD513;
    /* --comp: rgb(23, 139, 155); */
    --comp-light: hsla(49, 92%, 75%, 0.849);
}

* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Raleway",sans-serif;
}
  
/* a, 
a:link, 
a:visited, 
a:link:active, 
a:visited:active{

} */

p {
    color: var(--dark);
    line-height: 130%;
}

.lead {
    font-size: 1.3rem;
    
}

a:link {
    text-decoration: none;    
}
a:link:hover {
    text-decoration: underline;    
}

.button--back {
    margin: 1em;
}


h2, 
h3,
h4,
h5 {
    color: var(--med);
    font-weight: bold;
}

.h1 {
    color: var(--med);
    /* font-weight: 100; */
}

.text--center {
    text-align: center;
}

.container {
    /* outline: 5px dashed black; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
    /* background: #ffffff; */
}

.container--small {
    max-width: 700px;
    margin: 0 auto;
}

.absolute--cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.img-fluid {
    width: 100%;
    height: auto;
}

.img--loader {
    /* width: 100%;
    height: 100%;
    max-width: 500px; */
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(135deg, #e5eaeb, #a2a8ad);
}

.thumbnail {
    max-width: 300px;    
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
    box-shadow: 0 8px 4px -6px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    background: var(--light);    
}

.thumbnail--loader {
    /* width: 100%;
    height: 100%;*/
    position: absolute;
    max-width: 280px;
    max-height: 100px;
    height: 100%;
    padding: 5px;
    z-index: -2;
    align-self: center;
    /* background: #eee; */
    
}



.shadow {
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}


/* ----------------------
LOADER

This loader courtesy of devtips,
I suggest you look at some of his vids!

https://www.youtube.com/watch?v=lQxt6TdzsAo
---------------------- */
.loading  {
    height: 80vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
}


.spinner--small {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    margin-top: -25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.spinner-1 {
    /* position: absolute; */
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
    animation: spinny 800ms linear infinite;
}
  
  
@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1)
    }
    50% {
        transform: rotate(45deg) scale(1.2)
    }    
    100% {
        transform: rotate(360deg) scale(1)
    }    
}