:root {
    --shadow: rgba(0,0,0,0.3);
    --primary-dark: #290238e6;
    --primary: #421155;
    --primary-light: #421155d0;
    --light: #f1f1f1;
    --dark: #424040;
    --comp: #FFDF77;

    --primary-dark: #1a075ee6;
    --primary: #3f19c7f1;
    --primary-light: #3e1fadf1;
    --light: #f1f1f1;
    --dark: #424040;
    --comp: #FFD513;
    --comp-light: rgb(214, 153, 255);
}

* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Raleway",sans-serif;
}
  
/* a, 
a:link, 
a:visited, 
a:link:active, 
a:visited:active{

} */

a:link {
    text-decoration: none;
}

h2, h3, h4, h5 {
    color: var(--dark);
    font-weight: 700;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #ffffff;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.thumbnail {
    max-width: 300px;    
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
    box-shadow: 0 8px 4px -6px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    background: var(--light);    
}
