:root {
    /* --shadow: rgba(0,0,0,0.3);
    --primary-dark: #290238e6;
    --primary: #421155;
    --primary-light: #421155d0;
    --light: #f1f1f1;
    --dark: #424040;
    --comp: #FFDF77; */

    --primary-dark: #1a075ee6;
    --primary-dark-bg: hsl(253, 100%, 23%);
    --primary: #3f19c7f1;
    --primary-bg: hsl(253, 100%, 50%);
    --primary-light: #3e1fadf1;
    --primary-light-bg: hsl(253, 100%, 40%);
    --light: #f1f1f1;
    --dark: #424040;
    --comp: #FFD513;
    --comp-light: hsla(49, 92%, 75%, 0.849);
}

* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Raleway",sans-serif;
}
  
/* a, 
a:link, 
a:visited, 
a:link:active, 
a:visited:active{

} */

p {
    color: var(--dark);
    line-height: 130%;
}

.lead {
    font-size: 1.3rem;
    
}

a:link {
    text-decoration: none;
}


h2, h3, h4, h5 {
    color: var(--dark);
    font-weight: bold;
}

.container {
    /* outline: 5px dashed black; */
    max-width: 1000px;
    margin: 0 auto;
    /* background: #ffffff; */
}


.img-fluid {
    width: 100%;
    height: auto;
}

.img--loader {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #e5eaeb, #a2a8ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.thumbnail {
    max-width: 300px;    
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
    box-shadow: 0 8px 4px -6px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    background: var(--light);    
}

.shadow {
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}
