
.menu {
    /* outline: 4px dashed black;     */
    top :0;
    position: fixed;
    z-index: 9;
    width: 100%;
    
    display: grid;        
    grid-template-columns: min-content 1fr;
    background: var(--primary-dark);
    transition: all 250ms ease-in;
}

/* =============
MENU LANDING
============= */
/* .menu__landing {
    background: none;
    padding-top: 10px;
} */

/* .menu__landing 
.menu__list-item 
.menu__list-link{
    outline: 3px dashed black;    
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
} */

/* .menu__landing 
.menu__list-item 
.menu__list-link:hover {
    color: var(--light);    
    border-bottom: 2px solid var(--comp);
    transition: none;
} */

.menu__logo {
    /*   outline: 3px solid lime; */
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light);
}

.menu__list {
    /* outline: 4px solid salmon; */
    height: 100%;
    margin: 0 auto;
    /* margin-top: 0;  */
    width: 100%;
    max-width: 1500px;
    /* position: fixed; */
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;    
    color: var(--light);
}

/* .menu__list-link {
    padding: 20px;
} */

.menu__link,
.menu__list-link,
.menu__button {
/*   outline: 2px solid green;   */    
    height: 100%;
    padding: 5px;    
    /* display: flex;
    align-items: center;     */
    color: var(--light);
    text-decoration: none;
    transition: all 200ms linear;  
}

.menu__list-link:hover, 
.menu__logo .menu__link:hover {
    color: var(--comp);
    /* color: #ffffff;
    text-shadow: 0 0 0.05rem #ffffff */
}

.menu__logo .menu__link--active,
.menu__list .menu__link--active {
    color: var(--comp);
    /* color: #ffffff;
    text-shadow: 0 0 0.5px #ffffff */
}

.menu__list 
.menu__list-link 
.menu__link--active:hover {
    color: var(--comp);
    /* color: #ffffff;
    text-shadow: 0 0 0.5px #ffffff */
}



.menu__button {
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.menu__button:focus {
    outline: none;
}

.menu__button:hover {
    cursor: pointer;
}

/* =============
MENU DROPDOWN
============= */
#dropdown {
    position: relative;
}

.menu__dropdown {
    /*   outline: 3px dashed black; */
    display: none;  
    position: absolute;
    right: 0;
    /* top: 30px; */
    margin-left: min-content;
    padding: 10px;
    color: blue;
/*   margin-top: 20px; */
    box-shadow: 0 0 2px var(--shadow);
    background: #ffffff;
    /* text-align: center; */
    list-style: none;    
}

.menu__dropdown-link {
    padding: 0;
    padding-bottom: 5px;
    color: inherit;
    /* border-bottom: .015rem solid var(--primary-dark); */
    white-space: nowrap;
}

.menu__dropdown-link:hover {
    color: var(--primary-dark);
}

.menu__dropdown {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
}



.menu__list-item:hover > .menu__dropdown,
.menu__dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


.menu__dropdown 
.menu__dropdown-item {
    clear: both;
    width: 100%;
}




.menu__dropdown-item {
    margin: 5px 0;
    display: inline-block;    
}

.menu__dropdown--show {
    display: block;
}

/* =============
MENU BURGER
============= */
.menu__burger {
    display: none;
    font-size: 1.5rem;
    color: var(--comp);
}

.patty {
    height: .08rem;
    width: 30px;
    margin: 5px 0;
    background: var(--light);
    transition: all 80ms ease-in;
    transform-origin: 50%;
}

.patty--collapse-1 {
    margin: -.08rem 0;    
}

.patty--collapse-1:first-of-type {  
    margin: 0;
}

.patty--collapse-2 {
    background: red;
    transform: rotate(-45deg);
}

.patty--collapse-2:first-of-type {  
    transform: rotate(45deg);
}

/* =============
MENU MEDIA
============= */
@media (max-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        /* position: relative; */
    }

    .menu__logo {
        margin: 0;
    }

    .menu__burger {
        /*     outline: 2px solid yellow; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        /* padding-right: 15px; */
    }
    
    .menu__burger 
    .menu__button {
        height: 100%;
    /*     outline: 1px solid red; */
        display: flex;
    }

    .menu__list {
        /* outline: 4px solid red; */
        display: none;
        position: absolute;
        /* width: inherit; */
        /* height: 100%; */
        height: initial;
        top: 100%;
        right: 0;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background: var(--primary-dark);
        /*     transform: translateY(-100%); */
    }
    
    .menu__list--show {
        display: flex;
    }

    .menu__list-item {
        /* outline: 1px solid lime; */
        display: flex;
    /*     margin: 15px; */
        padding: 20px;
        padding: 0;
        border-bottom: 1px solid var(--light);
        height: min-content;
        width: 100%;
        align-content: flex-end;            
    }

    .menu__list-link {
    /*     outline: 5px solid red; */
        display: flex;    
        justify-items: flex-end;
        width: 100%;
        padding: 15px;
    }

    /* .menu__button {
        padding: 15px;
    } */

    .menu__dropdown {
        margin-top: 50px;
        max-width: min-content;
        left: 0;
    }

}
