.projects {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 3vw;
}

.projects__item {
    position: relative;
    background: rgb(23, 22, 24);
    background: #000;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* border: 1px solid #222; */
    border-radius: 5px;
}


.project--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    /* background: rgba(0, 0, 0, 0.7); */
    transform: translateX(100%);
    transition: all 200ms ease;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__item:hover .project--overlay{
    transform: translateX(0);
}

/* =================
PROJECT COMPONENT
================= */
.project {
    min-height: 50vh;
    padding: 2em 0;

}




/* .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;

}

.project__img {
    background: #000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */